# Ignorar todo
*

# Permitir el propio .gitignore
!.gitignore

# Permitir PC3 completo
!PC3/
!PC3/**

# Permitir PC4
!PC4/

# Dentro de PC4 ignorar todo
PC4/*

# Excepto pollo-cosmico
!PC4/pollo-cosmico/
!PC4/pollo-cosmico/**

# Entornos virtuales
venv/
.venv/
env/
**/venv/
**/.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Comprimidos
*.zip

# Dataset grande
PC3/data/raw/plantvillage-tomato-leaf-dataset.zip/data/raw/plantvillage-tomato-leaf-dataset.zip